  html {
    font-family:"MS Pゴシック";
    font-size: 8px;
  }
  body {
    
    width: 100em;
    margin: 0 auto;
  }
  h1,h2,h3 {
    font-size: 4em;
  }
  p {
    font-size: 1.7em;
  }
  h1 {

    padding: 0.5em 0;
    margin: 0px;
  }